
css
body {
  background-color: #8f8181;
}

.header {
  text-align: center;
  background-color: #727272;
  padding: 20px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video {
  margin: 20px;
}
.red-text {
    color: red;
  }